fastapi==0.116.1
uvicorn[standard]==0.35.0
motor==3.7.1
pymongo==4.13.2
pydantic==2.11.7
email-validator==2.2.0
python-dotenv==1.1.1
python-multipart==0.0.20
bcrypt==4.3.0
PyJWT==2.10.1
httpx==0.28.1
requests==2.32.4
openpyxl==3.1.5


defusedxml==0.7.1
pyodbc>=5.1.0,<6.0
cryptography>=42.0.8,<47.0
